SHOPIFY_API_KEY=your_api_key_here
SHOPIFY_API_SECRET=your_api_secret_here
SCOPES=write_products
SHOPIFY_APP_URL=https://your-app-url.com
MAIN_APP_URL=https://your-main-application-url.com
DATABASE_URL="file:./dev.db"
